.sidebar {
  float: right;
  width: 15%;
  margin-left: 20px;
  background: gold;
  height: 1400px;
  padding: 12px;
}

.column {
  float: left;
  width: 26.6667%;
  margin: 40px;
  padding: 20px;
  border: 2px solid #99FF00;
  background-color: turquoise;
}

img {
  max-width: 100%;
  padding: 10px;
}

div p {
  padding: 12px;
}
